$article-layout-grid: (columns: 1,
gutter: $base-spacing);

$home-section-layout--large-up: (columns: 12,
gutter: $base-spacing,
media: "(min-width: 1000px)",
);

$hero-layout-grid--tablet-up: (columns: 12,
gutter: $base-spacing,
media: "(min-width: 800px)",
);

$hero-layout-grid--large-up: (columns: 12,
gutter: $base-spacing,
media: "(min-width: 1024px)",
);

.page-section,
.small-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	padding: 140px 0;
	position: relative;
	width: 100%;

	@include mq($max-width: 1024px) {
		padding: 120px 0;
	}

	@include mq($max-width: 768px) {
		padding: 80px 0;
	}

	@include mq($max-width: 480px) {
		padding: 60px 0;
	}
}


.page-section {
	border-bottom: $base-border;
}

/* ==============================
   IOS Background Fix
   ============================== */
.mobile .project-hero,
.mobile .page-section,
.mobile .small-section {
	background-attachment: scroll;
}


.section--description {
	@include grid-column(1, $article-layout-grid);

	@include grid-media($home-section-layout--large-up) {
		@include grid-column(3);
	}
}

.section--content {
	@include grid-column(1, $article-layout-grid);

	@include grid-media($home-section-layout--large-up) {
		@include grid-column(9);
	}
}




.clearfix {
	@include grid-container;
}


.container__full {
	@include grid-container;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 $small-spacing;
	position: relative;
	width: 100%;
}

.container {
	@include grid-container;
	margin: auto;
	max-width: $container-width;
	padding: 0 $small-spacing;
	width: 100%;
}
