// $_buttons-list: (
//   "button",
//   "[type='button']",
//   "[type='reset']",
//   "[type='submit']",
// );
//
// $_button-background-color: $action-color;
// $_button-background-color-hover: shade($action-color, 20%);
//
//
// // #{$_buttons-list},
// .btn {
//   background-color: transparent;
//   color: contrast-switch($_button-background-color);
//   &:hover {
//     background-color: $_button-background-color-hover;
//     color: contrast-switch($_button-background-color-hover);
//   }
//
//   &:focus {
//     outline: $focus-outline;
//     outline-offset: $focus-outline-offset;
//   }
//
//   &:disabled {
//     cursor: not-allowed;
//     opacity: 0.5;
//
//     &:hover {
//       background-color: $_button-background-color;
//     }
//   }
// }




.btn,
button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover,
  &:focus {
    border-color: transparent;
    box-shadow: none;
    outline: 0;
  }
}



.btn {
  @extend %small-footer-font;
  background: $dark-gray;
  border-radius: 2px;
  border: 2px solid transparent;
  color: $white;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    background-color: rgba($black, 0.7);
    color: rgba($white, 0.85);
    text-decoration: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

  &:active {
    cursor: pointer !important;
    outline: none !important;
  }

  &--circle {
    border-radius: 30px;
  }

  &--icon {
    &:before {
      content: "";
      display: block;
      float: left;
      width: 16px;
      height: 1.2rem;
      margin-right: $small-spacing / 2;
      background: url("../img/icons/icon__mail--send.png");
      background: url("../img/icons/icon__mail--send.svg"), none;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-position: center center !important;
      transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      // &:before {
      //   background: url("../img/sent-mail--white.png");
      //   background: url("../img/sent-mail--white.svg"), none;
      // }
    }
  }


}
