.contact__wrap {
  line-height: 1;
  @include mq($min-width: 800px) {
    float: left;
  }
}

.contact__item {
  @include grid-container;
  margin-bottom: $base-spacing;
}

.contact__info {
  padding-top: $small-spacing / 2;
  padding-bottom: $small-spacing / 2;
  color: $medium-gray;
  text-align: center;
  @include mq($min-width: 800px) {
    float: right;
    display: inline-block;
    text-align: right;
  }
  &--headline {
    @extend %small-footer-font;
    margin-bottom: $small-spacing / 2;
  }
  &--desc {
    color: inherit;
    margin-bottom: 0;
  }
}

.contact__item--icon {
  height: 48px;
  width: 48px;
  line-height: 1;
  text-align: center;
  @include mq($min-width: 800px) {
    border-left: 1px solid $form-box-border;
    float: right;
    display: inline-block;
    margin-left: $small-spacing;
  }

  @include mq($max-width: 800px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $small-spacing / 3;
    border-bottom: 1px solid $form-box-border;
  }

  svg {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    fill: #333;
    // height: 100%;
    height: 48px;
  }
}

.contact__form {
  @extend %mobile__max-width;
  margin-bottom: $small-spacing;
  @include mq($min-width: 800px) {
    float: right;
    width: calc(100% - 300px);
    margin-left: $base-spacing;
  }
  > nav {
    padding: ($small-spacing / 2) 0;
  }
  &--tip {
    font-size: 1.2rem;
    color: $medium-gray;
    float: left;
    position: relative;
    line-height: 1;
    margin-bottom: $small-spacing;
    &:before {
      content: '';
      display: inline-block;
      height: 18px;
      width: 18px;
      background-image: url(../img/icons/icon__information.png?text=fallback);
      background-image: url(../img/icons/icon__information.svg);
      background-position: center 2px;
      background-size: 12px;
      background-repeat: no-repeat;
      vertical-align: middle;
    }
  }
  &--button {
    float: right;
    text-align: right;
  }
}
