/* ==============================
   Client Slider
   ============================== */

.slick__clients {
  .slick-slide {
    display: block;
    height: 100px;
    transform-style: preserve-3d;
    margin-right: $small-spacing;
    img,
    svg,
    object {
      display: block;
      max-height: 75%;
      max-width: 75%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      // transform: perspective(1px) translateY(-50%);
      margin: auto;
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
      // opacity: 0.65;
      &:hover {
        // opacity: 1;
      }
    }
    object {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

// IE Fix
.flexbox.flexboxlegacy {
  // Clients Slider
  .slick__clients {
    .slick-track {
      display: flex;
      transition-property: transform;
      transform: translate3d(0,0,0);
    }

    .slick-slide {
      display: flex;
      float: none;
      align-items: center;
      justify-content: center;
      img,
      svg,
      object {
        top: 0;
        transform: none;
      }
    }
  }
}



/* ==============================
   Testimonial Slider
   ============================== */
