.browser-mock {
	max-width: 100%;
	// max-width: 840px;
	position: relative;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
	&:last-of-type {
		margin-bottom: 0;
	}
	@include mq($min-width: 600px) {
		overflow: hidden;
		margin-bottom: 80px;
		display: inline-block;

		&:before {
			text-align: left;
			font-size: 1.5em;
			display: block;
			padding: 2px 8px 6px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;

			// Solid Version
			content: "● ● ●";
			color: $medium-gray;
			background: $light-gray;
			border: 1px solid $medium-gray;
		}

		img {
			border: 1px solid $medium-gray;
			border-top: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&--outline {
			&:before {
				content: "○ ○ ○";
				color: #ccc;
				background: transparent;
				border: 1px solid #ccc;
			}

			img {
				border-color: #ccc;
			}
		}
	}
}
