.timeline {
  border-left: 0.125rem solid;
  margin-left: calc(1rem - 0.125rem);
  padding-left: $base-spacing;
  position: relative;

  &__item {
    position: relative;

    &--point {
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: .3rem;
      left: -3.1rem;
      border-radius: $round-border-radius;
      box-shadow: 0 0 0 6px #fff;
      background: $color-gold;
    }
  }
}

.employers {
  padding-bottom: $large-spacing;

  @include mq($min-width: 1000px) {
    margin-right: -$large-spacing;
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }

  &__details {

    > li {
      margin-bottom: $small-spacing / 2;
      line-height: $heading-line-height;
      letter-spacing: .05rem;
    }

    &--timeframe {
      @extend %small-footer-font;
      color: $color-gold;
    }

    &--heading {
      color: $black-matte;
      font-size: 2.0rem;
    }

    &--title {
      color: $base-gray;
    }

    &--location {
      color: $medium-gray;
      font-size: 1.2rem;
    }

    @include mq($min-width: 1000px) {
      flex-basis: 40%;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      padding-right: $large-spacing;
    }
  }

  &__description {
    @include mq($min-width: 1000px) {
      flex-basis: 60%;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      padding-right: $large-spacing;
    }
  }
}
