// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea {
  min-height: $form-height * 2;
  resize: vertical;
}

textarea,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;

  background-color: $white;
  background-image: none;
  border-radius: 0;
  border: 1px solid $form-box-border;
  box-shadow: $form-box-shadow;
  display: inline-block;
  height: $form-height;
  padding: ($small-spacing / 2) $small-spacing;
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: border-color $base-duration $base-timing;
  margin-bottom: $small-spacing;
  vertical-align: middle;
  width: 100%;

  color: $medium-gray;
  font-family: $base-font-family;
  font-size: 1.2rem;
  letter-spacing: $base-letter-spacing;
  text-transform: uppercase;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    outline: 0;
    color: $dark-gray;
    border-color: $dark-gray;
    box-shadow: $form-box-shadow-focus;
  }
}
