/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

$article-layout-grid: (
  columns: 1,
  gutter: $base-spacing
);

$article-layout-grid--mobile-up: (
  columns: 2,
  gutter: $base-spacing,
  media: "(min-width: 600px)",
);

$article-layout-grid--tablet-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 800px)",
);

$article-layout-grid--large-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 1024px)",
);





$home-section__layout--large-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 1000px)",
);



$hero-layout-grid--tablet-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 800px)",
);
$hero-layout-grid--large-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 1024px)",
);

.page-section,
.small-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 140px 0;
  @include mq($max-width: 1024px) {
    padding: 120px 0;
  }
  @include mq($max-width: 768px) {
    padding: 80px 0;
  }
  @include mq($max-width: 480px) {
    padding: 60px 0;
  }
}


.page-section {
  border-bottom: $base-border;
}
/* ==============================
   IOS Background Fix
   ============================== */
.mobile .home-section,
.mobile .page-section,
.mobile .small-section {
  background-attachment: scroll;
}





.section--description {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($home-section__layout--large-up) {
     @include grid-column(3);
  }
}

.section--content {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($home-section__layout--large-up) {
     @include grid-column(9);
  }
}




.clearfix {
  @include grid-container;
}


.container__full {
  @include grid-container;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $small-spacing;
  position: relative;
  width: 100%;
}

.container {
  @include grid-container;
  margin: auto;
  max-width: $container-width;
  max-width: 1200px;
  padding: 0 $small-spacing;
  width: 100%;

  // padding: 0 15px;
  // position: relative;
}


// @media (min-width: 768px) {
//   .container {
//       width: 750px;
//   }
// }
//
// @media (min-width: 992px) {
//   .container {
//       width: 970px;
//   }
// }
//
// @media (min-width: 1200px) {
//   .container {
//       width: 1170px;
//   }
// }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (#{$bp-larger-than-phablet}) {


  .column,
  .columns {
    margin-left: $column-margin;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: grid-column-width(1);
  }

  .two.columns {
    width: grid-column-width(2);
  }

  .three.columns {
    width: grid-column-width(3);
  }

  .four.columns {
    width: grid-column-width(4);
  }

  .five.columns {
    width: grid-column-width(5);
  }

  .six.columns {
    width: grid-column-width(6);
  }

  .seven.columns {
    width: grid-column-width(7);
  }

  .eight.columns {
    width: grid-column-width(8);
  }

  .nine.columns {
    width: grid-column-width(9);
  }

  .ten.columns {
    width: grid-column-width(10);
  }

  .eleven.columns {
    width: grid-column-width(11);
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: grid-column-width(4);
  }

  .two-thirds.column {
    width: grid-column-width(8);
  }

  .one-half.column {
    width: grid-column-width(6);
  }
  // Offsets
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: grid-offset-length(1);
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: grid-offset-length(2);
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: grid-offset-length(3);
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: grid-offset-length(4);
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: grid-offset-length(5);
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: grid-offset-length(6);
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: grid-offset-length(7);
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: grid-offset-length(8);
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: grid-offset-length(9);
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: grid-offset-length(10);
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: grid-offset-length(11);
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: grid-offset-length(4);
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: grid-offset-length(8);
  }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: grid-offset-length(6);
  }
}
