$article-layout-grid: (
  columns: 1,
  gutter: $base-spacing
);

$article-layout-grid--mobile-up: (
  columns: 2,
  gutter: $base-spacing,
  media: "(min-width: 600px)",
);

$article-layout-grid--tablet-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 800px)",
);

$article-layout-grid--large-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 1024px)",
);





$home-section__layout--large-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 1000px)",
);



$hero-layout-grid--tablet-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 800px)",
);
$hero-layout-grid--large-up: (
  columns: 12,
  gutter: $base-spacing,
  media: "(min-width: 1024px)",
);

.page-section,
.small-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 140px 0;
  @include mq($max-width: 1024px) {
    padding: 120px 0;
  }
  @include mq($max-width: 768px) {
    padding: 80px 0;
  }
  @include mq($max-width: 480px) {
    padding: 60px 0;
  }
}


.page-section {
  border-bottom: $base-border;
}
/* ==============================
   IOS Background Fix
   ============================== */
.mobile .project-hero,
.mobile .page-section,
.mobile .small-section {
  background-attachment: scroll;
}





.section--description {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($home-section__layout--large-up) {
     @include grid-column(3);
  }
}

.section--content {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($home-section__layout--large-up) {
     @include grid-column(9);
  }
}




.clearfix {
  @include grid-container;
}


.container__full {
  @include grid-container;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $small-spacing;
  position: relative;
  width: 100%;
}

.container {
  @include grid-container;
  margin: auto;
  max-width: $container-width;
  max-width: 1200px;
  padding: 0 $small-spacing;
  width: 100%;

  // padding: 0 15px;
  // position: relative;
}


// @media (min-width: 768px) {
//   .container {
//       width: 750px;
//   }
// }
//
// @media (min-width: 992px) {
//   .container {
//       width: 970px;
//   }
// }
//
// @media (min-width: 1200px) {
//   .container {
//       width: 1170px;
//   }
// }
