.list--skills {
  @include grid-container;
  margin-bottom: $base-spacing;
  display: block;
  li {
    line-height: 1;
    position: relative;
    vertical-align: middle;
    &:before {
      content: '';
      display: inline-block;
      height: $small-spacing;
      width: $small-spacing;
      background-image: url('../img/check-mark.png?text=fallback'); // Fallback PNG
      background-image: url('../img/check-mark.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: $small-spacing;
    }
    @include mq($min-width: 450px) {
      width: 50%;
      float: left;
    }
    @include mq($min-width: 800px) {
      width: 33.33333%;
    }
  }
}
