.list--skills {
  @include grid-container;
  margin-bottom: $base-spacing;
  display: block;
  li {
    // ADD TO TYPOGRAPHY LIST
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $base-gray;
    font-family: $heading-font-family;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: $small-spacing;
    position: relative;
    &:before {
      // content: "\f00c";
      // font-family: fontawesome;
      // color: $color-gold;
      // margin-right: $small-spacing;
      content: '';
      display: inline-block;
      height: 1.4rem;
      width: 1.4rem;
      background-image: url('../img/check-mark.png?text=fallback'); // Fallback PNG
      background-image: url('../img/check-mark.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: $small-spacing;
    }
    @include mq($min-width: 450px) {
      width: 50%;
      float: left;
    }
    @include mq($min-width: 800px) {
      width: 33.33333%;
    }
  }
}
