.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba($white, .97);
  box-shadow: 0 1px 1px rgba($black, .1);

  &__logo {
    display: inline-block;
    width: $navbar__height;
    height: $navbar__height;
    line-height: $navbar__height;
    float: left;
    text-align: center;
    img {
      height: $navbar__height--mobile;
    }
  }


  &__nav {
    @include mq($max-width: 768px) {
      display: none;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      overflow-y: hidden;
      background: rgba($black-matte, 0.97);
      &.navigation-open {
        display: block;
      }
    }

    @include mq($min-width: 768px) {
      float: right;
    }
  }

  &__item {
    display: block;
    height: $navbar__height--mobile;
    line-height: $navbar__height--mobile;
    @include mq($max-width: 768px) {
      overflow: hidden;
      border-bottom: 1px solid rgba($white, 0.1);
    }
    @include mq($min-width: 768px) {
      display: inline-block;
      height: $navbar__height;
      line-height: $navbar__height;
    }

    &--link {
      @extend %type--navigation;
      display: inherit;

      @include mq($max-width: 768px) {
        padding: 0 $small-spacing;
        color: $white;
        text-align: right;
        &:hover {
          background: rgba($black-matte, 0.9);
          color: $color-gold;
        }
      }

      @include mq($min-width: 768px) {
        padding: 0 $base-spacing;
        color: $dark-gray;
      }
    }
  }
}





$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// Hamburger
// ==================================================
.hamburger {
  display: none;
  float: right;
  padding: 0;
  width: $navbar__height;
  height: $navbar__height;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @include mq($max-width: 768px) {
    display: block;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    opacity: 0.7;
  }

  &__box {
    width: $navbar__height--mobile;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: block;
    margin: auto;
    vertical-align: middle;
    position: relative;
  }

  &__inner {
    display: block;
    margin-top: $hamburger-layer-height / -2;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &,
    &::before,
    &::after {
      width: $navbar__height--mobile;
      height: $hamburger-layer-height;
      background-color: $dark-gray;
      position: absolute;
      transition-property: transform;
    }

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::after {
      bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    }
  }

  // Hamburger - IS ACTIVE state
  &.is-active {
    .hamburger__inner {
      transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
