.project-hero {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #151515;
  &:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($black-matte, .5);
    z-index: 1;
  }
  @include mq($max-width: 1024px) {
    background-attachment: scroll;
  }
  &__table {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 2;
    &--cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }
}


.project-hero__title {
  color: $white;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: $small-spacing;
  text-transform: uppercase;
  @include mq($min-width: 600px) {
    font-size: 10rem;
    margin-bottom: $base-spacing;
  }
  @include mq($min-width: 800px) {
    font-size: 14rem;
  }
  &--date {
    @extend %headline--secondary;
    color: $medium-gray;
    padding-left: $x-small-spacing;
  }
}


.project-hero__wrap {
  @include grid-container;
  overflow: hidden;
  position: relative;
}


.project-hero__line {
  height: 2px;
  margin: $small-spacing 0;
  border-top: 2px solid $color-gold;
  @include mq($min-width: 600px) {
    width: $base-spacing * 3;
    float: left;
  }
}


.project-hero__body {
  @include mq($min-width: 600px) {
    margin-left: $large-spacing;
    float: left;
    width: 71%;
  }
  &--desc {
    color: $medium-gray;
    margin-bottom: $base-spacing;
    line-height: $base-line-height;
    font-size: 1.8rem;
    @include mq($min-width: 600px) {
      font-size: 2.4rem;
    }
  }
}


.project-hero__role {
  @extend %small-footer-font;
  color: $white;
  margin-bottom: $x-small-spacing;
  &--desc {
    color: #828282;
    font-family: $base-font-family;
    letter-spacing: $base-letter-spacing;
    line-height: $heading-line-height;
    margin-bottom: $small-spacing;
    text-transform: none;
  }
}


.project-hero__cta {
  color: $white;
  font-style: italic;
  letter-spacing: $base-letter-spacing;
}







@keyframes scroll-down-anim {
	0% {
		bottom: 2px;
	}
	50% {
		bottom: 7px;
	}
	100% {
		bottom: 2px;
	}
}

.scroll-down {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	text-align: center;
	text-decoration: none;
	transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  @include mq($max-width: 480px) {
    bottom: 10px;
    height: 34px;
    line-height: 34px;
  }
	&:before {
		display: block;
		content: "";
		width: 20px;
		height: 20px;
		margin: 0 0 0 -10px;
		position: absolute;
		bottom: 0;
		left: 50%;
		background: $white;
		border-radius: 2px;
		transform: rotate(45deg);
		transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
		z-index: 1;
	}
	&:hover:before {
		opacity: .6;
	}
  &__icon {
  	display: block;
  	width: 10px;
  	height: 10px;
  	margin-left: -5px;
  	position: absolute;
  	left: 50%;
  	bottom: 4px;
  	color: $black-matte;
  	font-size: 15px;
  	animation: scroll-down-anim 1s infinite;
  	z-index: 2;
    @include mq($max-width: 480px) {
      width: 22px;
      margin-left: -11px;
    }
  }
}


/* ==============================
 Branding Colors
============================== */

.project-colors {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  text-align: center;

  &__item {
    padding: $small-spacing;
    // No Flexbox
    display: inline-block;
    @include mq($min-width: 600px) {
      padding: $base-spacing;
      // No Flexbox
      min-width: 80px;
    }
  }

  &__color {
    border-radius: 100%;
    width: 60px;
    // No Flexbox
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid $black-matte;
    @include mq($min-width: 600px) {
      margin-bottom: $base-spacing;
      width: 80px;
      // No Flexbox
      height: 80px;
      border: 6px solid $form-box-border;
    }
  }

  &__text {
    @extend %small-footer-font;
    border-radius: 100px;
    border: 1px solid $form-box-border;
    letter-spacing: $base-letter-spacing;
    padding: 2px $small-spacing;
    @include mq($max-width: 600px) {
      display: none;
    }
  }
}

// IE Fix
.flexbox.flexboxlegacy {
  .project-colors {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    &__item {
      flex: 0 60px 0;
      min-width: auto;
      @include mq($min-width: 600px) {
        flex: 0 0 120px;
      }
    }
    &__color {
      height: 0;
      padding-bottom: 100%;
      border: 0;
      box-shadow: 0 0 0 4px $black-matte, 0 0 0 5px $dark-gray;
      @include mq($min-width: 600px) {
        box-shadow: 0 0 0 9px $black-matte, 0 0 0 10px $dark-gray;
      }
    }
  }
}

/* ==============================
 Branding Logo
============================== */

.project-logo {
  display: block;
  margin: auto;
  max-width: 400px;
  height: 100%;
  padding-bottom: $large-spacing;
}

/* ==============================
 Client Images
============================== */

.project-image {
  display: block;
  text-align: center;
}


/* ==============================
 Browser Mockup
============================== */
.browser-mock {
	max-width: 100%;
	// max-width: 840px;
	position: relative;
	box-shadow: 0 2px 6px $form-box-border;
	margin-bottom: 40px;
	&:last-of-type {
		margin-bottom: 0;
	}
  picture {
    display: block;
  }
	@include mq($min-width: 600px) {
		overflow: hidden;
		margin-bottom: 80px;
		display: inline-block;

		&:before {
			text-align: left;
			font-size: 1.5em;
			display: block;
			padding: 2px 8px 6px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;

			// Solid Version
			content: "● ● ●";
			color: $medium-gray;
			background: $light-gray;
			border: 1px solid $form-box-border;
		}

		img {
			border: 1px solid $form-box-border;
			border-top: 0;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&--outline {
			&:before {
				content: "○ ○ ○";
				color: #ccc;
				background: transparent;
				border: 1px solid #ccc;
			}

			img {
				border-color: #ccc;
			}
		}
	}
}
