/* ==============================
   Client Slider
   ============================== */

  .slick__clients {
    .slick-slide {
      display: block;
      height: 100px;
      transform-style: preserve-3d;
      margin-right: $small-spacing;
      img,
      svg,
      object {
        display: block;
        max-height: 75%;
        max-width: 75%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // transform: perspective(1px) translateY(-50%);
        margin: auto;
        transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
        // opacity: 0.65;
        &:hover {
          // opacity: 1;
        }
      }
      object {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  // IE Fix
  .flexbox.flexboxlegacy {
    // Clients Slider
    .slick__clients {
      .slick-track {
        display: flex;
        transition-property: transform;
        transform: translate3d(0,0,0);
      }

      .slick-slide {
        display: flex;
        float: none;
        align-items: center;
        justify-content: center;
        img,
        svg,
        object {
          top: 0;
          transform: none;
        }
      }
    }
  }



/* ==============================
   Testimonial Slider
   ============================== */

   blockquote {
     max-width: 700px;
     margin: auto;

     .testimonial__avatar {
       text-align: center;

       > img {
         width: 60px;
         height: 60px;
         display: inline-block;
         border-radius: $round-border-radius;
       }
     }

     p {
       @extend %text__lead;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
     }

     cite {
       @extend %small-footer-font;
       margin-right: $small-spacing / 2;
       text-align: right;
       color: $base-gray;
       display: block;
     }
   }


 /* ==============================
    Slider Nav
    ============================== */

  .swiper__nav--prev,
  .swiper__nav--next {
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    font-size: 0;
    margin: $small-spacing ($small-spacing / 4);
    position: relative;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);

    svg {
      position: relative;
      top: 0;
      left: 0;
      max-width: 65%;
      height: 100%;
      display: block;
      margin: auto;
      fill: $dark-gray;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $white;
      display: inline-block;
      border: 1px solid $dark-gray;
      border-radius: $base-border-radius;
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    }

    &:hover {
      svg {
        fill: $white;
      }

      &:before {
        background: $dark-gray;
      }
    }
  }
