// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

*,
*::after,
*::before {
	box-sizing: inherit;
	outline: none;
}

::-moz-selection {
	background: $color-gold;
	text-shadow: none;
}

::selection {
	background: $color-gold;
	text-shadow: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
	display: block;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	// DO I NEED TO MAKE IT 62.5% ALSO?
	/**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in
   *    IE on Windows Phone and in iOS.
   */
	// -ms-text-size-adjust: 100%;
	// -webkit-text-size-adjust: 100%;
}

html,
body {
	height: 100%;
}

body {
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: 1.6em; // currently ems cause chrome bug misinterpreting rems on body element
	font-weight: $font-weight--regular;
	line-height: $base-line-height;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
	background-color: transparent;
	color: $action-color;
	letter-spacing: $base-letter-spacing;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: darken($action-color, 5%);
	}
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

ol,
ul {
	list-style: none;
}

hr {
	border: 0;
	border-top: $base-border;
	display: block;
	height: 1px;
	margin: $base-spacing 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img {
	height: auto;
	max-width: 100%;
}

/* ==============================
   Page loader
   ============================== */

.page-loader {
	background: $off-white;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.loader {
	animation: spinner 700ms infinite linear;
	border-bottom: 1px solid rgba($black, 0.08);
	border-left: 1px solid rgba($black, 0.5);
	border-radius: 50%;
	border-right: 1px solid rgba($black, 0.08);
	border-top: 1px solid rgba($black, 0.08);
	font-size: 10px;
	height: $large-spacing;
	left: 50%;
	margin: (-$base-spacing) 0 0 (-$base-spacing);
	position: absolute;
	text-indent: -12345px;
	top: 50%;
	width: $large-spacing;
	z-index: 100001;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
