// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors

$black: #000;
$white: #fff;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;


$base-gray: #666;
$color-gold: #c0a062;
$black-matte: #101010;
$hero__bgimage--color: #212121;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $color-gold;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;


// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Oswald',sans-serif;;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-letter-spacing: .05rem;
$base-spacing: 2.4rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border radius
$base-border-radius : 2px;
$round-border-radius : 50%;


// Animations
$base-duration: 150ms;
$base-timing: ease;

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;
$font-weight--black      : 900;


//Grid Variables
// $container-width: 960px !default;
$container-width: 1200px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;


// Nabvar Sizes
$navbar__height--mobile: 35px;
$navbar__height: 55px;
$navbar__height--large: 75px;

// Mobile Sizes
$mobile__max-width: 500px;

$icon__size: $navbar__height / 2;


// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-matte, 0.06);
$form-box-border: rgba($black, .2);
$form-box-shadow-focus: 0 0 3px rgba($black-matte, .3);
$form-height: 38px;
